.cards__grid-container {
    display: grid;
    margin: 1rem 0;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 400px));
    grid-template-rows: repeat(auto-fit, 650px);
    grid-auto-rows: 650px;
    justify-content: center;
    .cards__card, .card-skeleton  {
        height: 100%;
        border: 1px solid $color-slate600;
        border-radius: 6px;
        margin: 0 0.5rem;
        .cards__card__imageContainer {
            height: 250px;
            width: 100%;
            img {
                height: 250px;
                width: 100%;
            }
        }
        .cards__card-description {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            height: calc(100% - 250px);
            h2 {
                text-align: center;
                font-size: $size-lg;
                span {
                    color: $color-slate400;
                    font-size: $size-base;
                }
            }
            p {
                text-align: center;
                color: $color-slate400;
                padding: 0 0.5rem;
                font-size: $size-sm;
            }
            .cards__card-price {
                font-size: $size-xl;
                text-align: center;
            }
            .cards__card-counter {
                .cards__card-cart {
                    color: $color-slate600;
                    font-size: $size-xl;
                    border: 2px solid $color-slate600;
                    border-radius: 6px;
                    display: flex;
                    align-items: center;
                    margin: 1.5rem auto;
                    padding: 0.5rem;
                    transition: all 0.3s;
                    &:hover {
                        transform: scale(1.2);
                        background-color: $color-slate600;
                        border-color: $color-dark;
                        color: $color-dark;
                    }
                }
            }
        }
    }
    .card-skeleton {
        padding: 0.5rem;
    }
}

.cartUpdate-msg {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: $color-slate400;
    color: $color-dark;
    border-radius: 12px;
    padding: 0.75rem;
}


// /* xs */
// @media (min-width: 475px) {}

// /* sm */
@media (min-width: 640px) {
    .cards__grid-container {
        .cards__card {
            .cards__card-description {
                h2 {
                    font-size: $size-2xl;
                }
                p {
                    font-size: $size-base;
                }
                .cards__card-price {
                    font-size: $size-2xl;
                }
                .cards__card-counter {
                    .cards__card-cart {
                        font-size: $size-2xl;
                    }
                }
            }
        }
    }
}

// /* lg */
// @media (min-width: 768px) {}

// /* xl */
// @media (min-width: 1024px) {}

// /* 2xl */
// @media (min-width: 1280px) {}

// /* 3xl */
// @media (min-width: 1536px) {}