.mobile-nav {
    position: fixed;
    top: 0px;
    z-index: 5;
    width: 100vw;
    height: 100vh;
    background-color: $color-dark;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    nav {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    display: flex;
    .mobile-nav__header {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        text-transform: uppercase;
        font-weight: 600;
        padding: 1.5rem;
        button {
            font-size: $size-2xl;
            color: white;
        }
    }
    .mobile-nav__menu {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        width: 100%; 
        .mobile-nav__link {
            display: block;
            padding: 0.5rem;
            background-color: $color-slate800;
            border-radius: 10px;
            width: 80%;
            padding: 0.8rem;
            transition: background-color 0.3s;
            text-transform: capitalize;
            &:hover {
                background-color: $color-slate600;
            }
            .mobile-nav__search {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                &:focus-within, &:hover {
                    .mobile-nav__search-icon, ::placeholder {
                        color: $color-light;
                    }
                }
                .mobile-nav__search-icon{
                    color: $color-slate600;
                    width: $size-2xl;
                    height: $size-2xl;
                    cursor: default;
                }
                .mobile-nav__search-icon, ::placeholder {
                    transition: all 0.3s;
                }
                input {
                    background-color: transparent;
                    color: $color-light;
                    width: 80%;
                    &:focus {
                        color: $color-light;
                    }
                    &::placeholder {
                        color: $color-slate600;

                    }
                }
            }
        } 
    }
    .mobile-nav__cart {
        font-size: $size-2xl;
        color: $color-slate600;
        transition: all 0.3s;
        &:hover {
            color: $color-light;
        }
    }
}
